        body {
            background-color: #121212;
            color: #e0e0e0;
            margin: 0;
            padding: 0;
        }
        main {
            background-color: #1e1e1e;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            max-width: 1100px; /* 在电脑上增加主体内容的最大宽度 */
            margin: 0 auto;
            overflow: hidden; /* 防止内容溢出 */
        }

        #popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 220px;
            padding: 25px;
            background-color: #2f363c;
            border: 1px solid #ffb800;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            text-align: justify;
            z-index: 999;
            color: #ffb800;
            text-align: center;
        }
 
        a {
            text-decoration: none; /* 去掉下划线 */
            color: #1e9fff; /* 设置链接颜色 */
        }

        a:hover {
            text-decoration: underline; /* 鼠标悬停时显示下划线 */
            color: #0056b3; /* 悬停时链接颜色变化 */
        }

        h1, h2 {
            color: #ffffff;
        }
        .search-info {
            margin-bottom: 20px;
            padding: 15px;
            border: 1px solid #333;
            border-radius: 8px;
            background-color: #242424;
        }
        .search-info div {
            margin-bottom: 10px;
        }
        .search-info div span {
            font-weight: bold;
            color: #ffffff;
        }
        .button-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            margin-bottom: 10px;
            width: 160px; /* 调整整体按钮容器的宽度 */
        }
        button {
            font-weight: bold; /* 字体加粗 */
            padding: 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            color: #ffffff; /* 文本颜色设为白色 */
            transition: transform 0.2s ease, filter 0.3s ease; /* 添加 transform 和 filter 过渡效果 */
            filter: brightness(80%);
            margin: 0;
            width: 75px; /* 使按钮宽度和高度一致 */
            height: 75px; /* 使按钮宽度和高度一致 */
            box-sizing: border-box; /* 确保边框和内边距不会影响尺寸 */
        }
        #start-button {
            background-color: #7FBA00; /* 绿色 */
        }
        #stop-button {
            background-color: #FF3B30; /* 橙红 */
        }
        #exception-button {
            background-color: #FFA500; /* 黄色 */
        }
        #deleteDataButton {
            background-color: #00A1F1; /* 蓝色 */
        }
        #search-history {
            margin-top: 20px;
        }
        .search-history-item {
            padding: 15px;
            border: 1px solid #333;
            border-radius: 8px;
            background-color: #242424;
            margin-bottom: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }
        .search-history-item p {
            margin: 0;
            color: #e0e0e0;
        }
        .search-history-item iframe {
            width: 100%;
            height: auto;
            border: none;
        }
        #countdown-timer {
            font-size: 20px;
            font-weight: bold;
            color: #FFA500;
            margin-top: 10px;
        }

        /* 鼠标悬停效果 */
        button:hover {
            transform: scale(1.025); /* 按钮放大 2.5% */
            filter: brightness(100%); /* 亮度增加 20% */
        }
